@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --fonte1: "Quicksand", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vh;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    color: gray;
    text-decoration: underline;
}

section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2rem;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2.7vh;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: gray;
    color: white;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 20px;
    padding: 5px;
    text-align: justify;
}

section#img01 {
    background-image: url(imagens/villetoront1.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}

section#img02 {
    background-image: url(imagens/familiacomercial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px
}