@charset "UTF-8";

body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white; 
}

h2 {
    color: silver
}

h1#principal {
    text-align: center;
}

.basico {
    color: brown;
}

.intermediário {
    color: goldenrod;
}

.avançado {
    color: blueviolet;
}

.loucura {
    border: 3px inset;
}

.caramelo {
    background-color: mediumvioletred;
}