@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, orange, yellow);
    background-attachment: fixed;
}

main {
    background-color: #594D3E;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.712);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #F2B705;
}

p {
    text-align: justify;
    
}